<ng-container *ngIf="episode$ | async as ep">
  <div class="container">
    <h2>{{ ep.episodeCode }} - {{ ep.name }}</h2>
    <p><strong>Air Date:</strong> {{ ep.airDate }}</p>
  
    <h3>Characters ({{ ep.characters.length }})</h3>
  
    <div class="character-list">
      <div class="character-card" *ngFor="let c of ep.characters">
        <img [src]="c.image" [alt]="c.name" />
        <div class="info">
          <h4>{{ c.name }}</h4>
        </div>
      </div>
    </div>
  </div>
  
</ng-container>